html
  body
    .header
      ul.nav.nav-pills.pull-right
        li.active
          a(ng-href='#') Home
        li
          a(ng-href='#') About
        li
          a(ng-href='#') Contact
      h3.text-muted task app - index
    div
      p Projects
      ul
        li(ng-repeat='project in projects')
          | {{ project.title }}
          | {{ project.detail }}
          | {{ project.finished }}
      div
        .footer
          p
            span.glyphicon.glyphicon-heart
            | from the Yeoman team
